// For compatibility with our Hugo Book (HB) theme, we need SCSS
// However, please use vanilla CSS for simplicity in case we port to a simpler theme :)

.container {
  max-width: 90rem; // HB default is 80rem
}

.markdown img {
  max-width: calc(min(100%, 32rem)); // HB default is 100%
}

aside nav ul {
  a {
    line-height: 2; // increase clickable area
  }
  li {
    margin: 0; // HB adds margin, we increase line-height instead
    label {
      align-items: center; // expand/collapse icon needs to be centered now
    }
  }
}
